#wrapper {
    margin: 1em auto;
    width: 960px;
    border: 5px solid #000000;
    background-image: url(srt.jpg);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

.hi{
  margin-top: 500px;
}
